@import "../../styles/variables";

.Wrapper {
  padding: 0 3.75rem 6rem;
  min-width: 60rem;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.CloseButton {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  border: none;
  background: transparent;
  outline: none;
  transition: opacity 0.2s;
  &:hover{
    opacity: 0.8;
  }
  &__Text {
    text-transform: uppercase;
    font-size: 0.5625rem;
    padding-top: 0.2rem;
    color: map_get($colors, gray);
    font-weight: 700;
    letter-spacing: 0.08rem;
  }
}

.Template {
  width: 100%;
  max-width: 60rem;
  margin: 3rem auto;
}

.TemplateName {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
}

.Letters {
  width: 100%;
  position: relative;
}

.Letter {
  position: absolute;
  background-color: map_get($colors, white);
  border-radius: 0.2rem;
  height: 12.5rem;
  box-shadow: 0 0.125rem 0.75rem 0 rgba(0, 0, 0, 0.1);
  &_First {
    width: 85%;
    left: calc((100% - 85%) / 2);
  }
  &_Second {
    top: 0.7rem;
    width: 90%;
    left: calc((100% - 90%) / 2);
  }
  &_Third {
    top: 1.4rem;
    width: 95%;
    left: calc((100% - 95%) / 2);
  }
}

.MainLetter {
  position: relative;
  width: 100%;
  margin: auto;
  top: 2.1rem;
  background-color: map_get($colors, white);
  border-radius: 0.2rem;
  box-shadow: 0 0.125rem 0.75rem 0 rgba(0, 0, 0, 0.1);
}

.Header{
  height: 2.6rem;
  border-bottom: solid 0.0625rem #CFD5E5;
}

.Circles {
  padding-left: 1.8rem;
  display: flex;
  height: 100%;
  align-items: center;
}

.Circle {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin-right: 0.45rem;
  &:last-child{
    margin-right: 0;
  }
  &_Green {
    background-color: #01BDA5;
  }
  &_Orange {
    background-color: #F5C26B;
    background-color: #F5C26B;
  }
  &_Red {
    background-color: #F2545B;
  }
}

.LetterContent {
  padding: 0.9375rem 1.6875rem;
}

.MetaHeaderItem {
  margin-bottom: 0.9rem;
  display: flex;
  align-items: baseline;
}

.MetaHeaderTitle {
  margin-right: 1rem;
}

.Recipient {
  background-color: map_get($colors, grey-light);
  border-radius: 1rem;
  padding: 0.2rem 1rem;
}

.DummyData {
  padding: 1.5rem 0 4rem;
}

.ActionsWrapper {
  display: flex;
  max-width: 60rem;
  justify-content: space-between;
  position: relative;
  top: 4rem;
}

.ActionsTipInfo {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: map_get($colors, grey-superlight);
  border-bottom: solid 1px map_get($colors, grey-light);
  border-top: solid 1px map_get($colors, grey-light);
  border-left: solid 1px map_get($colors, grey-light);
  position: relative;
  margin-right: 6rem;
  width: 11.5rem;
  height: 5.75rem;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: -2.25rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.6rem 0 3rem 2.3rem;
    border-color: transparent transparent transparent map_get($colors, grey-superlight);
    z-index: 1;
  }
  &:after{
    content: '';
    position: absolute;
    top: -0.04rem;
    right: -2.3rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.65rem 0 3rem 2.3rem;
    border-color: transparent transparent transparent map_get($colors, grey-light);
  }
}

.TipText{
  font-size: 0.75rem;
  line-height: 1rem;
  color: map_get($colors, gray);
}

.ActionButton{
  display: inherit;
}

.ProtonMailBTN {
  margin-right: 2%;
  min-width: 49%;
}

.CopySignatureBTN {
  min-width: 49%;
}

.ButtonsWrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.PrimaryButtons {
  display: flex;
  width: 100%;
}

.IconButtons {
  margin-top: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.MailCLientBTN {
  background-color: transparent;
  outline: none;
  border: none;
  color: map_get($colors, grey);
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  &:hover{
    text-decoration: underline;
  }
}

.MailClientLogo {
  height: 1.5rem;
  margin-right: 0.75rem;
  position: relative;
  bottom: 0.2rem;
}
