@import "../../styles/variables";

.BuilderWrapper {
  background-color: yellow;
  min-width: 80rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.BuilderAside {
  background-color: map-get($purple, default);
  width: 27.5rem;
  min-height: 100%;
  display: flex;
}

.BuilderContent {
  background-color: white;
  width: calc(100% - 27.5rem);
  min-height: 100%;
}

.TabAsideNavigation {
  width: 4.375rem;
  min-height: 100%;
  background-color: map-get($purple, secondary);
}
.TabAsideNavigationItem {
  height: 4.8125rem;
  background-color: map-get($purple, secondary);
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    margin: 0rem 0rem 0.3125rem;
    fill: #9C8EBF;
  }

  span {
    font-size: 0.625rem;
    color: #9C8EBF;
    letter-spacing: 0;
    text-align: center;
  }

  &--active {
    background-color: map-get($purple, default);

    svg, span {
      fill: white;
      color: white;
    }
  }
}

.AsideContent {
  width: 100%;
  padding: 1.6875rem 1.875rem 1.5625rem 1.75rem;
  overflow-y: scroll;
}

.AsideContentHeading {
  color: white;
  font-weight: 800;
  margin-bottom: 2rem;
}


///////////////PARTS////////////

.TemplatePartWrapper {
  padding-top: 0.5rem;
}

.TemplatePartHeading {
  font-size: 0.8125rem;
  color: #B8B5EA;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.TemplatePartItem {
  height: 13.75rem;
  background-color: white;
  margin-bottom: 1.7rem;
  border: 0.1875rem solid white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  cursor: pointer;

  svg {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: none;
  }

  &--active {
    border: 0.1875rem solid map-get($colors, green);

    svg {
      display: block;
    }
  }
}

.Button {
  background: #3d2387;
  border-radius: 0.0625rem;
  border:none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.25rem;
  width: 150px;
  height: 150px;
  
  &::before {
    content: "";
    position: absolute;
    border: 0.3125rem dashed  #DFDFEA;
    top: -0.1875rem;
    bottom: -0.1875rem;
    left: -0.1875rem;
    right: -0.1875rem;
  }

  &__Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span:nth-of-type(1) {
      font-weight: 500;
      font-size: 0.625rem;
      color: white;
      letter-spacing: 0.00125rem;
      line-height: 0.8125rem;
    }

    span:nth-of-type(2) {
      font-weight: 400;
      font-size: 0.4375rem;
      color: white;
      letter-spacing: 0.000625rem;
      text-align: center;
      line-height: 0.8125rem;
    }
  }
}

.LabelButton {
  font-size: 13px;
  color: #978DCF;
  letter-spacing: 0.03px;
  line-height: 13px;
  margin-bottom: 17px;
}

.ImageLoader {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;



  img {
    max-width: 150px;
    max-height: 150px;
  }
}

.CloseButton {
  width: 1.5rem;
  height: 1.5rem;
  top: calc(0% - 0.75rem);
  left: calc(100% - 0.75rem);
  background-color: map-get($pink, default);
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.ButtonWrapper {
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
}
