.Wrapper {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    justify-content: center;
    align-items: center;
    &--show {
        display: flex;
    }
}

.Content {
    width: 50rem;
    height: 17.3rem;
    background-color: white;
    padding-top: 6rem;
    position: relative;
}

.Title {
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.Actions {
    display: flex;
    justify-content: center;

    & > button:not(:last-of-type) {
        margin-right: 1.8rem;
    }
}

.BackButton {
    padding-left: 4.7rem;
    padding-right: 4.7rem;
}

.SaveButton {
    padding-left: 4.7rem;
    padding-right: 4.7rem;
}

.CloseButton {
    position: absolute;
    top: 7px;
    right: 2px;
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    align-items: center;

    &__Text {
        text-transform: uppercase;
        font-size: 0.5625rem;
        padding-top: 0.2rem;
        color: #7A7C8E;
        font-weight: 700;
        letter-spacing: 0.08rem;
    }
}
