.LabelWrapper {
  font-size: 0.8125rem;
  color: #B7B3E9;
  letter-spacing: 0;
  line-height: 1.625rem;
  font-weight: 400;
}

.LabelSettingWrapper {
  font-weight: 400;
  font-size: 0.8125rem;
  color: #666666;
  letter-spacing: 0;
  line-height: 1.625rem;
}
