$colors: (
        dark-grey: #061321,
        light-grey: #92A2B3,
        white: #fff,
        black: #1B1A21,
        pink: #E42664,

);

$pink: (
        default: #E42664,
        hover: #CA1953,
        pressed: #A91546 ,
        disabled: #E95686,
);
