$colors: (
        dark-grey: #061321,
        light-grey: #92A2B3,
        white: #fff,
);

$gray: (
        100: #FFFFFF,
        200: #FAFBFC,
        300: #F9FAFB,
        400: #F4F6F8,
        500: #EBEFF2,
        600: #DFE3E8,
        800: #C4CDD5,
        A100: #212b36,
);