.Label {
  &>span {
    background-color: transparent;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.8125rem;
    color: #B8B5EA;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.625rem;
<<<<<<< HEAD
    transform: rotate(-45deg) translate(-0.4375rem, 0.625rem);
=======
    transform: rotate(-45deg) translate(-7px, 10px);
>>>>>>> BN-13 create styles part
  }
}

.Wrapper {
  padding-top: 1rem;
}

.Thumb	 {
  background-color: #B8B5EA;
}

.Track {
  background-color: #B8B5EA;
}

.Rail {
  background-color: #4A349C;
}
