.Root {
  margin: 0;
  width: 100%;
  display: flex;
  margin-bottom: 0.8rem;
  justify-content: space-between;
}

.Label {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: #E8E4F1;
  letter-spacing: 0;
  line-height: 1.125rem;
}

.Thumb {
  width: 0.625rem;
  height: 0.625rem;
  background-color: white;
}

.Track {
  max-width: 1.8125rem;
}

.Checked + .Track {
  background-color: #65A83B!important;
  opacity: 1!important;
}

.SwitchBase {
  transform: translateX(25%) translateY(0.3125rem);
}

.SwitchBase.Checked {
  color: #65A83B!important;
  transform: translateX(71%) translateY(0.3125rem);

  &:hover {
    background-color: rgba(101, 168, 59, .08) !important;
  }
}
