.PageWrapper {
  padding: 4.125rem 0 3.125rem;
}

.PageHeading {
  margin-bottom: 1.875rem;
  font-weight: 800;
  font-size: 2.5rem;
  color: #000000;
  letter-spacing: 0;
}

.SectionHeading {
  margin-bottom: 1.25rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #000000;
  letter-spacing: 0;
}

.ColWrapper {
  padding: 0 1.8125rem;
}

.Button {
  background: #FFFFFF;
  display: inline-block;
  border-radius: 0.0625rem;
  border:none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  text-align:center;
  padding:2.3125rem 0.9375rem;
  margin-bottom: 1.25rem;

  &::before {
    content: "";
    position: absolute;
    border: 0.3125rem dashed  #DFDFEA;
    top: -0.1875rem;
    bottom: -0.1875rem;
    left: -0.1875rem;
    right: -0.1875rem;
  }

  &__Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span:nth-of-type(1) {
      font-weight: 500;
      font-size: 0.625rem;
      color: #464375;
      letter-spacing: 0.00125rem;
      line-height: 0.8125rem;
    }

    span:nth-of-type(2) {
      font-weight: 400;
      font-size: 0.4375rem;
      color: #464375;
      letter-spacing: 0.000625rem;
      text-align: center;
      line-height: 0.8125rem;
    }
  }
}
