@import '../../styles/variables';

.root {
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  outline: none;
  font-weight: bold;
  letter-spacing: 0.0134rem;
  padding: 0.84rem 1.8rem;
}

.primary {
  background-color: map-get($pink, default);
  color: map_get($colors, white);
  &:hover {
    background-color: map-get($pink, hover);
  }
  &:active {
    background-color: map-get($pink, pressed);
  }
  &:focus {
    background-color: map-get($pink, pressed);
  }
  &:disabled {
    background-color: map-get($pink, disabled);
  }
  &:hover, &:active, &:focus, &:disabled {
    color: map-get($colors, white);
    text-decoration: none;
  }
}

.secondary {
  background-color: map-get($colors, white);
  color: map-get($pink, default);
  border: 0.125rem solid map-get($pink, default);
  &:hover {
    background-color: map-get($pink, default);
    border: 0.125rem solid map-get($pink, default);
  }
  &:active {
    background-color: map-get($pink, pressed);
    border: 0.125rem solid map-get($pink, pressed);
  }
  &:focus {
    background-color: map-get($pink, pressed);
    border: 0.125rem solid map-get($pink, pressed);
  }
  &:hover, &:active, &:focus, &:disabled {
    color: map-get($colors, white);
    text-decoration: none;
  }
}

.icon {
  padding: 0;
  color: map_get($colors, white);
  &:hover {
    background-color: map-get($pink, hover);
  }
  &:active {
    background-color: map-get($pink, pressed);
  }
  &:focus {
    background-color: map-get($pink, pressed);
  }
  &:disabled {
    background-color: map-get($pink, disabled);
  }
  &:hover, &:active, &:focus, &:disabled {
    color: map-get($colors, white);
    text-decoration: none;
  }
}

.large {
  width: 14.125rem;
}
