@import 'styles/index';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: map-get($colors, light-blue);
  font-family: 'Nunito', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

div {
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.TransitionAction {
  &-enter {
    transform: translateY(-100vh)!important;

    svg {
      transform: matrix(1, 0, 0, 0, 0, 0);
    }
  }
  &-enter-done {
    transform: translateY(-0vh)!important;
    transition: transform 500ms;

    svg {
      transform: matrix(1, 0, 0, 1.5, 0, 0);
    }
  }
  &-exit {
    transform: translateY(-0vh)!important;
    transition: transform 500ms;
    svg {
      transform: matrix(1, 0, 0, 1.5, 0, 0);
    }
  }
  &-exit-done {
    transform: translateY(-100vh)!important;
    transition: transform 500ms;

    svg {
      transform: matrix(1, 0, 0, 0, 0, 0);
    }
  }
}
